*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
}
.score{
    color: rgb(228, 225, 225);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2{
    font-size: 30px;
}
.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.intro{
    color:rgb(228, 225, 225) ;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.intro h1{
    font-size: 50px;
}
.intro button, .match button{
    width: 150px;
    height: 50px;
    background: rgb(45, 117, 96);
    border: none;
    color: rgb(228, 225, 225);
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.winner{
    color:rgb(228, 225, 225) ;
    text-align: center;
    font-size: 50px;
}
.hand, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-hand{
    transform: rotateY(180deg);
}
div.fadeIn {
    opacity: 0;
    pointer-events: none;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
}